<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.belms.dream.repositories.employee.persistence.EmployeeMapper">
	<select id="selectAll" resultType="city">
		select
		id, name
		from City
	</select>
</mapper>